<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsmDude.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AsmDude.Properties.Settings>
            <setting name="SyntaxHighlighting_Opcode" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="SyntaxHighlighting_Register" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="SyntaxHighlighting_Remark" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="SyntaxHighlighting_Directive" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="SyntaxHighlighting_Jump" serializeAs="String">
                <value>Navy</value>
            </setting>
            <setting name="SyntaxHighlighting_Label" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="SyntaxHighlighting_Constant" serializeAs="String">
                <value>Chocolate</value>
            </setting>
            <setting name="SyntaxHighlighting_Misc" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="SyntaxHighlighting_On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeFolding_On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeFolding_BeginTag" serializeAs="String">
                <value>#region</value>
            </setting>
            <setting name="CodeFolding_EndTag" serializeAs="String">
                <value>#endregion</value>
            </setting>
            <setting name="CodeCompletion_On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeCompletion_x86" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeCompletion_sse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeCompletion_sse2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeCompletion_sse3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeCompletion_ssse3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeCompletion_sse41" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeCompletion_sse42" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeCompletion_avx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeCompletion_avx2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CodeCompletion_knc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeCompletion_mmx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeCompletion_i686" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AsmDoc_url" serializeAs="String">
                <value>http://www.felixcloutier.com/x86/</value>
            </setting>
            <setting name="AsmDoc_On" serializeAs="String">
                <value>True</value>
            </setting>
        </AsmDude.Properties.Settings>
    </userSettings>
</configuration>