[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = none

# SA1123: Do not place regions within elements
dotnet_diagnostic.SA1123.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = silent

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = silent

# SA1509: Opening braces should not be preceded by blank line
dotnet_diagnostic.SA1509.severity = silent

# SA1119: Statement should not use unnecessary parenthesis
dotnet_diagnostic.SA1119.severity = silent

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = silent

# SA1405: Debug.Assert should provide message text
dotnet_diagnostic.SA1405.severity = silent

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = silent

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = silent

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = silent

# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1108: Block statements should not contain embedded comments
dotnet_diagnostic.SA1108.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1404: Code analysis suppression should have justification
dotnet_diagnostic.SA1404.severity = none
