[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none
