[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = none

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = silent

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none
