<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AsmDude.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<AsmDude.Settings>
   <setting name="SyntaxHighlighting_Opcode" serializeAs="String">
    <value>Blue</value>
   </setting>
   <setting name="SyntaxHighlighting_Register" serializeAs="String">
    <value>DarkRed</value>
   </setting>
   <setting name="SyntaxHighlighting_Remark" serializeAs="String">
    <value>Green</value>
   </setting>
   <setting name="SyntaxHighlighting_Directive" serializeAs="String">
    <value>Magenta</value>
   </setting>
   <setting name="SyntaxHighlighting_Jump" serializeAs="String">
    <value>Blue</value>
   </setting>
   <setting name="SyntaxHighlighting_Label" serializeAs="String">
    <value>OrangeRed</value>
   </setting>
   <setting name="SyntaxHighlighting_Constant" serializeAs="String">
    <value>Chocolate</value>
   </setting>
   <setting name="SyntaxHighlighting_Misc" serializeAs="String">
    <value>DarkOrange</value>
   </setting>
   <setting name="SyntaxHighlighting_On" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CodeFolding_On" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CodeFolding_BeginTag" serializeAs="String">
    <value>#region</value>
   </setting>
   <setting name="CodeFolding_EndTag" serializeAs="String">
    <value>#endregion</value>
   </setting>
   <setting name="CodeCompletion_On" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AsmDoc_Url" serializeAs="String">
    <value>https://github.com/HJLebbink/asm-dude/wiki/</value>
   </setting>
   <setting name="AsmDoc_On" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="KeywordHighlighting_BackgroundColor_On" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="KeywordHighlighting_BackgroundColor" serializeAs="String">
    <value>Yellow</value>
   </setting>
   <setting name="CodeFolding_IsDefaultCollapsed" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="useAssemblerMasm" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="useAssemblerNasm" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IntelliSense_Show_Undefined_Labels" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IntelliSense_Show_Clashing_Labels" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IntelliSense_Decorate_Undefined_Labels" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IntelliSense_Decorate_Clashing_Labels" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_8086" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_186" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_286" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_386" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_486" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_MMX" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_SSE" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_SSE2" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_SSE3" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_SSSE3" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_SSE4_1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_SSE4_2" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_SSE4A" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_SSE5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_AVX2" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_AVX512_VL" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_AVX512_PF" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_DQ" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_AVX512_BW" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_AVX512_ER" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_F" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_AVX512_CD" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_X64" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_BMI1" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_BMI2" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_P6" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_IA64" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_FMA" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_TBM" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_AMD" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_PENT" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_3DNOW" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_CYRIX" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_CYRIXM" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_VMX" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_RTM" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_MPX" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_SHA" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_BND" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SignatureHelp_On" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_ADX" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_F16C" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_FSGSBASE" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_HLE" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_INVPCID" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_PCLMULQDQ" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_LZCNT" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_PREFETCHWT1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_RDPID" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_RDRAND" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_RDSEED" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_XSAVEOPT" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_UNDOC" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AES" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IntelliSense_Show_Undefined_Includes" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="KeywordHighlighting_BorderColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="PerformanceInfo_SandyBridge_On" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PerformanceInfo_IvyBridge_On" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PerformanceInfo_Haswell_On" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PerformanceInfo_Broadwell_On" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PerformanceInfo_Skylake_On" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PerformanceInfo_KnightsLanding_On" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="KeywordHighlighting_BorderColor_On" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AsmSim_On" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Show_Syntax_Errors" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Decorate_Syntax_Errors" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Show_Usage_Of_Undefined" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Decorate_Usage_Of_Undefined" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Decorate_Registers" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Show_Register_In_Code_Completion" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Decorate_Unimplemented" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IntelliSense_Decorate_Undefined_Includes" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_AVX512_IFMA" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_VBMI" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_VPOPCNTDQ" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_4VNNIW" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_4FMAPS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_64_Bits" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SyntaxHighlighting_Userdefined1" serializeAs="String">
    <value>Silver</value>
   </setting>
   <setting name="SyntaxHighlighting_Userdefined2" serializeAs="String">
    <value>Silver</value>
   </setting>
   <setting name="SyntaxHighlighting_Userdefined3" serializeAs="String">
    <value>Silver</value>
   </setting>
   <setting name="AsmSim_Z3_Timeout_MS" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="AsmSim_Show_Redundant_Instructions" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Decorate_Redundant_Instructions" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SyntaxHighlighting_Opcode_Italic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SyntaxHighlighting_Register_Italic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SyntaxHighlighting_Remark_Italic" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SyntaxHighlighting_Directive_Italic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SyntaxHighlighting_Constant_Italic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SyntaxHighlighting_Jump_Italic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SyntaxHighlighting_Label_Italic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SyntaxHighlighting_Misc_Italic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SyntaxHighlighting_Userdefined1_Italic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SyntaxHighlighting_Userdefined2_Italic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SyntaxHighlighting_Userdefined3_Italic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IntelliSense_Label_Analysis_On" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="useAssemblerNasm_Att" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Number_Of_Threads" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="AsmSim_Show_Unreachable_Instructions" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Decorate_Unreachable_Instructions" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AsmSim_Pragma_Assume" serializeAs="String">
    <value>#pragma assume</value>
   </setting>
   <setting name="AsmSim_Show_Register_In_Instruction_Tooltip" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AsmSim_Show_Register_In_Register_Tooltip" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AsmSim_Show_Register_In_Code_Completion_Numeration" serializeAs="String">
    <value>HEX</value>
   </setting>
   <setting name="AsmSim_Show_Register_In_Instruction_Tooltip_Numeration" serializeAs="String">
    <value>HEX</value>
   </setting>
   <setting name="AsmSim_Show_Register_In_Register_Tooltip_Numeration" serializeAs="String">
    <value>HEX</value>
   </setting>
   <setting name="ARCH_AVX512_VBMI2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_VNNI" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_BITALG" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_GFNI" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_VAES" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_VPCLMULQDQ" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_SMX" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_SGX1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_SGX2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PerformanceInfo_SkylakeX_On" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PerformanceInfo_IsDefaultCollapsed" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PerformanceInfo_On" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ARCH_CLDEMOTE" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_MOVDIR64B" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_MOVDIRI" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_PCONFIG" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_WAITPKG" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_PRFCHW" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_BF16" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_AVX512_VP2INTERSECT" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ARCH_ENQCMD" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="useAssemblerDisassemblyMasm" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="useAssemblerDisassemblyNasm_Att" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="useAssemblerDisassemblyAutoDetect" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="useAssemblerAutoDetect" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Global_MaxFileLines" serializeAs="String">
    <value>50000</value>
   </setting>
  </AsmDude.Settings>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
