<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Editor" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Imaging" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.0.50420-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="12.0.21003-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Text.Data" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Text.UI" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Threading" version="14.0.50417-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="14.0.22823-RC" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VisualStudio.Validation" version="14.0.50417-pre" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.VSSDK.BuildTools" version="14.0.22823-RC-Updated" targetFramework="net45" userInstalled="true" />
</packages>