[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1507: Code should not contain multiple blank lines in a row
dotnet_diagnostic.SA1507.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# SA1123: Do not place regions within elements
dotnet_diagnostic.SA1123.severity = silent

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1506: Element documentation headers should not be followed by blank line
dotnet_diagnostic.SA1506.severity = none

# SA1214: Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = silent

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = silent

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = silent

# SA1136: Enum values should be on separate lines
dotnet_diagnostic.SA1136.severity = silent

# SA1108: Block statements should not contain embedded comments
dotnet_diagnostic.SA1108.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none

# SA1127: Generic type constraints should be on their own line
dotnet_diagnostic.SA1127.severity = silent

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = none

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = silent

# SA1119: Statement should not use unnecessary parenthesis
dotnet_diagnostic.SA1119.severity = none

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = silent

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# SA1501: Statement should not be on a single line
dotnet_diagnostic.SA1501.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = silent

# SA1006: Preprocessor keywords should not be preceded by space
dotnet_diagnostic.SA1006.severity = none

# SA1405: Debug.Assert should provide message text
dotnet_diagnostic.SA1405.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

# SA1622: Generic type parameter documentation should have text
dotnet_diagnostic.SA1622.severity = silent

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = silent

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = silent

# SA1120: Comments should contain text
dotnet_diagnostic.SA1120.severity = none

# SA1504: All accessors should be single-line or multi-line
dotnet_diagnostic.SA1504.severity = none

# SA1107: Code should not contain multiple statements on one line
dotnet_diagnostic.SA1107.severity = silent

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = silent

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = none

# SA1306: Field names should begin with lower-case letter
dotnet_diagnostic.SA1306.severity = silent

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = silent

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = silent

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# SA1642: Constructor summary documentation should begin with standard text
dotnet_diagnostic.SA1642.severity = silent

# CA1714: Flags enums should have plural names
dotnet_diagnostic.CA1714.severity = silent

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# SA1307: Accessible fields should begin with upper-case letter
dotnet_diagnostic.SA1307.severity = none

# SA1404: Code analysis suppression should have justification
dotnet_diagnostic.SA1404.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:silent

# SA1316: Tuple element names should use correct casing
dotnet_diagnostic.SA1316.severity = none

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = silent
