<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net461" />
  <package id="LoadingIndicators.WPF" version="0.0.1" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="15.0.25414-Preview5" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="15.0.25414" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="15.0.25414" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="15.0.25414" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="15.0.25404" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Threading" version="15.6.11-beta" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.4.27004" targetFramework="net47" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.32" targetFramework="net47" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.5.100" targetFramework="net462" developmentDependency="true" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net461" />
  <package id="SmartThreadPool.dll" version="2.2.4" targetFramework="net451" />
  <package id="z3x86win" version="4.5.0.1" targetFramework="net461" />
</packages>