<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net451" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.0.26201" targetFramework="net461" developmentDependency="true" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net461" />
  <package id="SmartThreadPool.dll" version="2.2.4" targetFramework="net451" />
  <package id="System.ValueTuple" version="4.4.0-preview1-25305-02" targetFramework="net461" />
  <package id="z3x86win" version="4.5.0.1" targetFramework="net461" />
</packages>