[*.cs]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# SA1509: Opening braces should not be preceded by blank line
dotnet_diagnostic.SA1509.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = silent

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = silent
