[*.cs]

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = silent

# CA1712: Do not prefix enum values with type name
dotnet_diagnostic.CA1712.severity = silent

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = suggestion

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = suggestion

# CA1714: Flags enums should have plural names
dotnet_diagnostic.CA1714.severity = none
