[*.cs]

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = silent

# CA1712: Do not prefix enum values with type name
dotnet_diagnostic.CA1712.severity = silent

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = suggestion

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = suggestion

# CA1714: Flags enums should have plural names
dotnet_diagnostic.CA1714.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1506: Element documentation headers should not be followed by blank line
dotnet_diagnostic.SA1506.severity = none

# SA1642: Constructor summary documentation should begin with standard text
dotnet_diagnostic.SA1642.severity = none

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = silent

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = silent

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = silent

# SA1514: Element documentation header should be preceded by blank line
dotnet_diagnostic.SA1514.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = silent

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1119: Statement should not use unnecessary parenthesis
dotnet_diagnostic.SA1119.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = silent

# SA1120: Comments should contain text
dotnet_diagnostic.SA1120.severity = silent

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = silent

# SA1612: Element parameter documentation should match element parameters
dotnet_diagnostic.SA1612.severity = silent

# SA1123: Do not place regions within elements
dotnet_diagnostic.SA1123.severity = none

# SA1108: Block statements should not contain embedded comments
dotnet_diagnostic.SA1108.severity = none

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1136: Enum values should be on separate lines
dotnet_diagnostic.SA1136.severity = silent

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# IDE0032: Use auto property
dotnet_style_prefer_auto_properties = true:none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1307: Accessible fields should begin with upper-case letter
dotnet_diagnostic.SA1307.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = silent

# SA1214: Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = none
